<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Midori Sushi</title>
    <meta name="description" content="Restaurante ______ de comida japonesa localizado em ____________. Disponivel cardapio e contatos.">
    <link rel="stylesheet" href="/projeto-restaurante/styles/reset.css">
    <link rel="stylesheet" href="/projeto-restaurante/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="index.html" target="_self"><img id="logo" src="/projeto-restaurante/assets/logo.png" alt="Logo do restaurante com duas carpas verdes e o nome Midori"></a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="produtos.html">Sushis tradicionais</a></li>
                <li><a href="premium.html">Sushi Premium</a></li>
                <li><a href="quem.html">Quem somos</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <center>
            <section>
                <img id="banner" src="/projeto-restaurante/assets/banner.jpg">
            </section>
            <section class="bem-vindo">
                <h1>Seja bem-vindo!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis ultrices libero, ut placerat dui congue ac. Quisque quis tincidunt dui. Nulla bibendum pellentesque mollis. Praesent sodales id lacus sed tristique. Cras aliquet, sapien vel placerat gravida, sem dui congue massa, vel luctus risus lorem eu nunc. Donec malesuada velit purus, at bibendum arcu hendrerit eu. Maecenas feugiat, arcu at dapibus ornare, urna massa cursus arcu, in viverra lectus elit ut eros. Proin lectus libero, viverra non volutpat auctor, maximus non ex.</p>
                
                <img id="foto-home" src="/projeto-restaurante/assets/prato.jpg" alt="Foto do balcão do restaurante com sushimens preparando refeições">
            </section>
            <section class="destaques">
                <h2>Destaques da semana</h2>
                <ul class="produtos">
                    <li>
                        <h3>Niguiri</h3>
                        <img src="/projeto-restaurante/assets/niguiri.png">
                        <p class="produto-descricao">Bolinho de arroz que leva frutos do mar em cima</p>
                        <p class="produto-preco">R$ 15,00</p>
                    </li>
                    <li>
                        <h3>Hossomaki</h3>
                        <img src="/projeto-restaurante/assets/hossomaki.png">
                        <p class="produto-descricao">Um rolinho pequeno recheado, formado por arroz</p>
                        <p class="produto-preco">R$ 10,00</p>
                    </li>
                    <li>
                        <h3>Uramaki</h3>
                        <img src="/projeto-restaurante/assets/uramaki.png">
                        <p class="produto-descricao">Tipo de sushi enrolado de maneira inversa com o recheio enrolado</p>
                        <p class="produto-preco">R$ 20,00</p>
                    </li>
                </ul>
            </section>
        </center>
    </main>
</body>

</html>