<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Restaurante Midori</title>
    <meta name="description" content="Restaurante ______ de comida japonesa localizado em ____________. Disponivel cardapio e contatos.">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html" target="_self"><img id="logo" src="logo.png" alt="Logo do restaurante com duas carpas verdes e o nome Midori"></a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="produtos.html">Sushis tradicionais</a></li>
                <li><a href="premium.html">Sushi Premium</a></li>
                <li><a href="quem.html">Quem somos</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Oi</p>
    </main>
</body>
</html>