body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background: #000000;
    position:fixed;
    width: 250px;
    height: 100%;
}
#logo {
    width: 250px;
}

nav li{
    display:block;
    text-align: center;
    margin: 0 0 30px;
}
nav a{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
nav p {
    display:block;
    text-align: center;
    margin: 400px 0 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
}
nav i {
    color: rgb(255, 255, 255);
    padding: 0 10px;
}

nav a:hover {
    color: #2A9D8F;
}
nav i:hover {
    color: #2A9D8F;
    cursor: pointer;
}

main {
    position: absolute;
    width: auto;
    height: 100%;
    left:250px;

}

#banner {
    position: static;
    width: 100%;
    opacity: 80%;
}

.bem-vindo h1, .mensagem h1, .sobre-nos h1 {
    font-size: 40px;
    text-align: center;
    padding: 2em 0 1em 0;
    font-weight: bold;
}
.bem-vindo p, .sobre-nos p {
    text-align: center;
    font-size: 20px;
    padding: 0 3em 3em 3em;
}

#foto-home {
    width: 40%;
    border-radius: 10px;
    margin: 0 0 3em;
}

.destaques {
    position: static;
    width: 690px;
}

.destaques h2 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.produtos {
    margin: 0 auto;
    padding: 2em 0 4em;
}
.produtos li {
    display:inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 20px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(189, 186, 186);
    border-radius: 10px;
    margin: 0 0 10px 0;
}
.produtos li:hover {
    border-color: #2A9D8F;
    cursor: pointer;
}

.produtos img {
    width: 50%;
}
.produtos h3 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao {
    font-size: 15px;
}
.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0;
}

.mensagem p {
    text-align: center;
    padding: 0 3em 0 3em;
}
form {

}
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 30px 0 10px;
    text-align:center;
}
form legend {
    padding: 1em 0 0.5em;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox {
    margin: 1em 1em 0 1em;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background: #2A9D8F;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    border:  none;
    border-radius: 20px;
    transition: 1s all;
    cursor: pointer;
    margin: 1em 0 3em;
}
.enviar:hover {
    background: #000000;
}

.titulo-principal {
    font-size: 30px;
    text-align: center;
    padding: 0 0 1em 0;
    font-weight: bold;
}

.principal p {
    margin: 0 0 1em;
}

.mapa {
    padding: 0 0 4em 0;
}

.mapa-conteudo {
    width: 80%;
}

.mapa p {
    margin: 0 0 2em;
}

.produtos h1 {
    font-size: 30px;
    text-align: center;
    padding: 1em 0 1em 0;
    font-weight: bold;
}